:root {
  /* ### color ###  */

  /* ## primary ##  */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* ## neutral ##  */
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* ## Gradients ##  */

  --bg-linear-gradient: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );

  --btn-linear-gradient: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  /* ### Typography ### */
  --ff-primary: 'Josefin Sans', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: var(--bg-linear-gradient);
  color: var(--desaturated-red);
  font-family: var(--ff-primary);
  text-align: center;
  line-height: 1.63em;
  font-size: 0.875rem;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.bg {
  position: relative;
}

img {
  width: 100%;
  display: block;
}

.logo {
  width: 100px;
  text-align: left;
  margin: 2em 2em;
}

.hero__content {
  padding: 4em 0 5.875em;
  max-width: 25.3125rem;
}

.hero__content .title {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 9px;
  line-height: 0.9;
  padding: 0 1.3em;
  color: var(--fg, var(--dark-grayish-red));
}

.hero__content .info {
  margin: 1em 0 2.5em;
}

.accent {
  color: var(--desaturated-red);
  font-weight: 300;
}

.email__container {
  width: 100%;
  position: relative;
  display: inline-block;
}

.email__input {
  width: 100%;
  padding: 0.75em 2em;
  border-radius: 2em;
  border: none;
  outline: none;
  border: 1px solid var(--desaturated-red);
  color: var(--desaturated-red);
  opacity: 50%;
}

.email__input--error {
  border: 2px solid var(--soft-red);
}

.btn__input {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin-left: auto;
  background: url('../images/icon-arrow.svg') no-repeat center,
    var(--bg, var(--desaturated-red));
  border: none;
  border-radius: 1.75rem;
  padding: 1.4125em 2em;
  box-shadow: 0 15px 20px rgba(198, 110, 110, 0.25);
}

.btn--light {
  --bg: var(--btn-linear-gradient);
}

.error-msg {
  display: none;
}

.error-msg-hidden {
  display: block;
  position: absolute;
  text-align: left;
  color: var(--soft-red);
  font-size: 0.8125rem;
  line-height: 1;
  text-align: left;
  margin: 0.8em;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--dark-grayish-red);
}

@media (min-width: 800px) {
  body {
    text-align: left;
    font-size: 1rem;
  }

  .container {
    width: auto;
    margin-left: 0;
    margin-right: auto;
  }

  .bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg-linear-gradient);
    background-image: url('../images/bg-pattern-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  .logo {
    width: 158px;
    grid-area: logo;
    margin: 0;
  }

  .hero__img {
    height: 100vh;
    object-fit: cover;
  }

  .grid {
    display: grid;
    max-width: 90rem;
    margin: 0 auto;
    grid-template-columns: minmax(165px, auto) minmax(27.8125em, 2fr) minmax(
        auto,
        38.125em
      );
    grid-template-rows: 74px 150px 500px;
    grid-template-areas: '. . image' '. logo image' '. content image' '. content image';
    grid-gap: 0 1.5em;
  }

  .hero__imgs {
    grid-area: image;
  }

  .hero__content {
    grid-area: content;
    padding: 0;
    place-self: start;
  }

  .hero__content .title {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 17px;
    line-height: 1.1;
    padding: 0;
  }

  .email__input {
    font-size: inherit;
    padding: 0.9375em 2em;
  }

  .btn__input {
    padding: 1.9em 3.0625em;
  }
}
